.App{
  max-width: 1024px;
  margin:auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}